.titulo{
    text-align: center;
    padding: 10px 0;
    background-color:rgb(7, 82, 82);
    color: white;
}

.explicacao{
    padding: 10px 0;
}

@media (max-width:375px) {
    .titulo{
        font-size: 25px;
    }
    .explicacao{
        text-align: justify;
    }
    
}