.calculadora {

    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 82, 82);
    padding: 15px;

}

input {
    outline: none;
    border: none;
    border-left: 5px solid rgb(169, 216, 168);;
    background-color: rgb(7, 82, 82);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 26px;
    margin: 0;
}

::-webkit-input-placeholder {
    color: rgb(222, 222, 222);
}

span {
    background-color: #075252;
    color: white;
    font-size: 26px;
    font-weight: bold;
    border-left: 5px solid rgb(169, 216, 168);
    padding-left: 5px;
    text-align: center;
    
}
h3{
    text-align: center;
    margin-top: 15px;
    border: 1px solid rgb(7, 82, 82);
    color: rgb(7, 82, 82);
}

@media (max-width:375px) {
    input {
        height: 50px;
        text-align: center;
    }

    .calculadora {
        display: block;
        align-items: center;
        text-align: center;
    }
}